html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #000;
    margin: 0;
    
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 55px;
    line-height: 74px;
    letter-spacing: 0.08em;
    color: #ffffff;
}


.block1{
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.image-title {
    width: 200px;
}

.fixed-header {
    width: 94%;
    border: solid #161616 4px;
    border-radius: 15px;
    background-color: #000;
}

.left-side-header{
    width: 95%;
}

.left-side-header, .fixed-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0%;
}

.menu-text {
    color: #fff;
}

.contain-header {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-text-click {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-shopping-cart,
.fa-phone {
    color: #fff;
    font-size: 25px;
}

.contacts-cart-block {
    display: flex;
    justify-content: space-between;
}

.call-icon {
    display: none;
}
/* !Поисковая система  */
.search {
    background-color: #161616;
    border: solid #161616;
    border-radius: 6px;
    width: 200px;
    height: 25px;
    color: #fff;
    font-size: 15px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

.fa-search {
    position: relative;
    float: left;
    z-index: 1;
    margin-right: -26px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 21px;
    color: #5f5f5f;
}

#search-icon{   
    margin-bottom: 8px;
    z-index: 11;
}

.fa-search + .search {
    padding-left: 26px;
}

.elastic li.hide {
    display: none;
}

.elastic p.hide,
.no-results.hide {
    display: none;
}

.elastic a {
    color: #5f5f5f;
    margin: 10px;
    font-size: 1.5em;
}

.elastic li {
    list-style-type: none;
    list-style: none;
    position: relative;
    padding-left: 30px;
}

.elastic li:before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 1.2em;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #5f5f5f;
}

.input {
    display: flex;
    flex-direction: column;
}

.elastic {
    padding-left: 20px;
}

.search-area::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.search-area::-webkit-scrollbar-thumb {
    background-color: #5f5f5f;
    border-radius: 10px;
}

::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #5f5f5f;
    border-radius: 10px;
}

.search-area {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 128px;
    width: 232px;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 60px;
    background-color: #161616;
    color: #5f5f5f;
    display: none;
}

.no-results {
    font-size: 1.2em;
    text-align: center;
    color: #5f5f5f;
    padding: 10px;
}

/* end of header */
.main-section {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clad-inside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline {
    color: gray;
    margin-bottom: 80px;
    font-size: 20px;
    margin-top: 10px;
}

.title-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collections {
    font-size: 18px;
    font-family: "Shadows Into Light";
    font-size: 22px;
    width: 170px;
    height: 50px;
    background-color: #161616;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-collections {
    text-decoration: none;
}

.main-image {
    width: 500px;
}

.model {
    width: 450px;
}

/* конец главной */

.container-main {
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 80%;
}

.owl-carousel img {
    gap: 23px;
    width: 1200px;
    letter-spacing: 00.08em;
}
  
  .custom-prev,
  .custom-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    font-size: 100px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  .custom-prev:hover,
  .custom-next:hover {
    opacity: 1;
  }
  
  .custom-prev {
    left: -70px;
  }
  
  .custom-next {
    right: -70px;
  }
  

.owl {
    color: #fff;
}

.item{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    justify-content: flex-start;
}

.name {
    font-family: "Cinzel";
    display: inline-block;
    font-size: 30px;
    width: 100%;
}

.more {
    align-items: baseline;
    display: flex;
    padding-left: 5%;
}

.stars {
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
}

.more a {
    color: #fff;
    text-decoration: none;
    font-family: "Shadows Into Light";
    cursor: pointer;
    width: 120px;
    margin-left: 10px;
    background-color: #161616;
    border-radius: 20px;
    font-size: 35px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl4 , .owl2 , .owl3 , .owl {
    color: #fff;
    padding-top: 100px;
}

.cost {
    font-family: "Shadows Into Light";
    font-size: 40px;
    line-height: 68px;
    color: rgba(255, 255, 255, 0.65);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
    font-size: 10px;
}

#myBtn:hover {
    background-color: #161616;
}

/* !сеция about us */

.block {
    display: flex;
    justify-content: center;
}

.about-us,
.social-media {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    font-size: 55px;
    margin-bottom: 50px;
    text-align: center;
}

.about-page-contain {
    width: 90%;
    margin: 0 auto;
}

.about-block {
    flex-wrap: wrap;
}

.about-content {
    max-width: 40%;
    display: flex;
    margin: 0px;
}

.ab-text {
    font-style: normal;
    font-size: 30px;
    text-align: justify;
    align-items: center;
}

.ab-img {
    display: flex;
    justify-content: center;
}

.ab-img > img {
    max-width: 100%;
}

.ab-info {
    width: 78%;
    margin: 0 auto;
}

/* !сеция social media */
.social-block {
    gap: 23px;
}

.social-content {
    width: 26%;
    margin: 0;
}

.social-content > img {
    width: 100%;
}
/* !секция footer */
.footer {
    margin-top: 200px;
    background-color: #161616;
    padding-top: 10px;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0px;
}

.footer-block2,
.icon-block,
.footer-block1 {
    display: flex;
    padding: 0 20px;
}

.footer-block1 {
    flex-direction: column;
    align-items: center;
}

.footer-block2{
    position: relative;
}

.footer-block2::before,
.footer-block2::after {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 165px; 
    background-color: #5F5F5F;
}

.footer-block2::before {
    left: 0;
}

.footer-block2::after {
    right: 0;
}


.footer-content {
    flex-direction: column;
    display: flex;
}

.footer-input {
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: gray;
    margin: 0px;
    padding-top: 10px;
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: 400;
}

.footer-title:hover{
    color: white;
    text-decoration: underline;
}

.footer-inc{
    color: gray;
    margin: 0px;
}

.footer-block-title {
    position: relative;
    padding-bottom: 5px;
    font-size: 20px;
    margin: 0px;
}

.footer-block-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 115%;
    height: 2px;
    background-color: #5F5F5F;
}

.social-media-footer {
    margin: 0px;
}

.icon-block {
    gap: 15px;
    margin-top: 10px;
}


.input-wrapper {
    position: relative;
    width: 100%;
    margin-left: 0;
}


.input-area {
    border-radius: 22px;
    font-size: 13px;
    font-family: "Cinzel";
    width: 100%;
    height: 40px;
    padding-right: 50px; 
    padding-left: 15px;
    box-sizing: border-box;
}

.send-email {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #5F5F5F;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
}


/* themes button */
#themes {
    z-index: 99;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: 40px;
    font-size: 10px;
    height: 60px;
    width: 60px;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}



.fa-sun {
    width: 50px;
    height: 50px;
    color: #fff;
}

/* black and white theme */

#themes2 {
    display: none;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.white-bg {
    background-color: white;
    color: black;
}

/* dropdown */

.menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-icon {
    margin: 20px 0 20px 0;
}

.burger {
    text-align: center;
}

.burger li {
    cursor: pointer;
}
ul li.drop {
    position: relative;
    margin: 0 15px;
}

.dropOut .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #161616;
    top: -8px;
    left: 50%;
    margin-left: -8px;
}
.dropdownContain {
    width: 160px;
    position: absolute;
    z-index: 2;
    left: 65%;
    margin-left: -80px; /* half of width */
    top: -400px;
}
.dropOut {
    width: 140px;
    background: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
    opacity: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.dropOut ul {
    float: left;
    padding: 10px 0;
}
.dropOut ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    color: rgb(95, 95, 95);
    border-radius: 5px;
}

.dropOut ul li a:hover {
    background: rgb(91, 93, 96);
    color: white;
}

/* ul li:hover a { color: #161616; } */
ul li:hover .dropdownContain {
    top: 65px;
}
ul li:hover .underline {
    border-bottom-color: #000;
}
ul li:hover .dropOut {
    opacity: 1;
    margin-top: 8px;
}
.low-width-media-burger {
    display: none;
    position: fixed;
    width: 100%;
    height: 300px;
    z-index: 3;
    background-color: black;
}
