@media screen and (max-width: 1140px){
    /* главная */
    .main-image{
        width: 400px;
    }
    /* о нас */
    .about-content{
        height: 300px;
    }

    .ab-info{
        font-size: 24px;
    }
}

@media screen and (max-width: 1025px){
    h1{
        font-size: 50px;
    }
    /* адаптив для хедера */
    .contain-header{
        max-width: 1024px;
    }

    .image-title{
        max-width: 160px;
        margin-right: 20px;
    }

    .menu-text{
        font-size: 14px;
    }

    .fa-shopping-cart{
        font-size: 18px;
    }

    .search{
        width: 160px;
    }

    .search-area{
        width: 200px;
    }

    .menu{
        padding-left: 10px;
    }
    /* адаптивы для главной */

    .clad-inside, .title-img{
        max-width: 512px;
    }

    .main-image{
        width: 400px;
    }

    /* карусель адаптирована, но есть мелкие фикс */

    .stars{
        font-size: 24px;
    }

    .cost{
        font-size: 33px;
    }

    /* адаптивы для about us */
    .ab-info{
        height: 300px;
        font-size: 22px;
    }

    .title{
        margin-bottom: 20px;
    }

    /* адаптивы для social media */
    .social-content{
        width: 230px;
    }

    /* адаптивы для футера */

    .footer-block1{
        align-items: flex-start;
        width: 20%;
    }

    .icon-block{
        padding: 0;
    }

    .icon-block > figure > a > img {
        max-width: 45px;
    }

    .footer-container{
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }

    .footer-block3{
        width: 100%;
    }

    .footer-input{
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-block-title::after {
        width: 0px;
    }

    .under3::after , .under1::after{
        width: 220px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: #5F5F5F;
    }


    .under2::after{
        width: 150px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: #5F5F5F;
    }

    .right-side{
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 10px;
        margin-right: 10%;
        width: 250px;
        display: flex;
        flex-direction: column;
    }

    .left-side{
        padding-left: 32px;
        width: 33%;
    }

    .under3{
        max-width: 43%;
    }

    .input-area{
        width: 64%;
    }

    .send-email{
        left: 52%;
    }

    .footer-block2{
        width: 69%;
        justify-content: space-between;
    }

    .footer-block2::after{
        width: 0px;
    }

    .footer-block2::before{
        height: 260px;
    }

    .footer-title{
        font-size: 18px;
    }
}



@media screen and (max-width: 880px){
    .model{
        width: 350px;
    }

    .clad-inside{
        margin-left: 40px;
    }

    .main-section{
        height: 650px;
    }

    .main-image{
        width: 370px;
    }

    .more{
        padding-left: 0;
    }
    .more a{
        margin-top: 10px;
        height: 60px;
    }

    .more h1{
        padding-left: 30px;
        font-size: 45px;
    }

    #mens, #womens, #boys, #girls{
        padding-left: 30px;
        font-size: 45px;
    }

    .title{
        font-size: 45px;
    }

    .footer-block2{
        width: 65%;
    }
    .under3{
        max-width: 50%;
    }

    .under3::after{
        width: 180px;

    }

    .under2::after{
        width: 130px;
    }

    .under1::after{
        width: 160px;
    }

    .icon-block > figure > a > img {
        max-width: 40px;
    }

    .input-area{
        width: 64%;
    }

    .send-email{
        left: 51%;
    }

}

@media screen and (max-width: 769px){
    #myBtn{
        padding: 10px;
        font-size: 8px;
    }

    #themes{
        left: 0px;
        bottom: 1px;
    }

    #themes i {
        font-size: 40px;
      }
    /* адаптив для хедера */
    .title-image{
        width: 140px;
    }

    .image-title{
        width: 140px;
    }

    .search{
        width: 150px;
    }

    .search-area{
        width: 239px;
    }

    .home{
        display: none;
    }

    .title-img{
        z-index: -1;
    }

    .model{
        width: 350px;
    }

    .clad-inside{
        margin-left: 40px;
    }

    .main-section{
        height: 650px;
    }

    .main-image{
        width: 370px;
    }

    .menu-text-click{
        padding: 0 10px;
    }

    /* адаптивы для карусели */
    

    .item {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
      }
      
      .cost {
        order: 2;
      }
      
      .stars {
        margin: 0px;
        order: 1; 
      }

      .name{
        text-align: center;
      }

      .custom-prev, .custom-next{
        font-size: 50px;
        top: 30%;
      }

      .custom-prev{
        left: -50px;
      }

      .custom-next{
        right: -50px;
      }
    /* адаптивы для about us */
    .about-page-contain{
        width: 100%;
    }

    .about-content{
        max-width: 360px;
    }

    .about-content{
        font-size: 22px;
    }

    /* адаптивы для social media */

    .social-content{
        width: 210px;
    }

    .social-block{
        gap: 15px;
    }

    /* адаптивы для футера */

    .footer-block2::before{
        height: 200px;
    }

    .footer-inc{
        font-size: 16px;
    }

    .footer-title{
        font-size: 12px;
    }

    .footer-block-title{
        font-size: 16px;
    }

    .footer-block1{
        width: 21%;
    }

    .under3{
        max-width: 55%;
    }

    .under3::after{
        width: 145px;

    }

    .under2::after{
        width: 110px;
    }

    .under1::after{
        width: 140px;
    }

    .send-email{
        left: 51%;
    }

    .icon-block > figure > a > img {
        max-width: 35px;
    }

    .input-area{
        width: 64%;
    }

    .send-email{
        left: 51%;
    }
}

/* подгонка между планшетом и телефоном */
@media screen and (max-width: 730px){
    .search {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
        width: 210px;
        height: 35px;
        background-color: #161616;
        border: 1px solid #161616;
        border-radius: 6px;
        color: white;
        z-index: 10;
    }

    .search.active {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0%, -50%) scale(1);
    }

    .call-icon {
        display: block;
    }

    .left-side-header{
        width: 57%;
    }

    .image-title{
        margin-left: 25px;
        z-index: 41000;
    }
    /* !burger */

    .left-side-header {
        flex-direction: row-reverse;
    }

    .menu {
        display: none;
    }

    .burger {
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 12;
      }
      
      .burger span {
        display: block;
        height: 3px;
        background: white;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
      }
      
      /* Анімація відкриття */
      .burger_active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      
      .burger_active span:nth-child(2) {
        opacity: 0;
      }
      
      .burger_active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
      
    .model{
        width: 300px;
    }

    .main-section{
        height: 600px;
    }

    .main-image{
        width: 340px;
    }

    /* ab us */
    .about-content{
        height: 250px;
        width: 300px;
    }

    .ab-info{
        font-size: 18px;
        max-height: 100%;
    }

    /* footer */

    .under3{
        max-width: 55%;
    }

    .under3::after{
        width: 125px;

    }

    .under2::after{
        width: 90px;
    }

    .under1::after{
        width: 125px;
    }

    .send-email{
        left: 49%;
    }

}

@media screen and (max-width: 630px){

    .more > a{
        height: 50px;
        font-size: 30px;
    }

    #mens, #womens, #boys , #girls{
        font-size: 32px;
    }

    .title{
        font-size: 32px;
    }
    .model{
        width: 270px;
    }

    .main-section{
        height: 600px;
    }

    .main-image{
        width: 300px;
    }

    .about-content{
        width: 230px;
        max-height: 180px;
    }

    .ab-info{
        font-size: 13px;
    }

    .title{
        font-size: 30px;
        margin: 0;
    }


    /* footer */
    .footer-block2{
        width: 60%;
    }
    
    .footer-content{
        margin: 0px;
    }

    .send-email{
        left: 47%;
    }

    .icon-block > figure > a > img {
        max-width: 30px;
    }

    .footer-block2::before{
        height: 170px;
    }
}

@media screen and (max-width: 426px){
    /* адаптив для главной */
    .clad-inside, .title-img{
        width: 100%;
        position: absolute;
        margin: 0;
    }

    .main-section{
        justify-content: center;
    }

    .tagline{
        margin-bottom: 110px;
    }

    .model{
        opacity: 0.5;
        width: 350px;
    }

    .search-area{
        width: 185px;
    }
    
    .search{
        width: 155px;
    }

    /* carousel */

    #mens, #womens, #boys, #girls{
        font-size: 24px;
    }

    .more a{
        margin-left: 20px;
        font-size: 20px;
        height: 40px;
    }

    .name{
        font-size: 20px;
    }


    .custom-prev, .custom-next{
        font-size:40px;
        top: 30%;
      }

      .custom-prev{
        left: -30px;
      }

      .custom-next{
        right: -30px;
      }

    /* адаптив для about us */
    .about-content{
        max-width: 200px;
        max-height: 180px;
    }

    .ab-info{
        font-size: 13px;
    }

    .title{
        font-size: 24px;
        margin: 0;
    }

    /* social media */
    .social-content{
        width: 110px;
    }

    /* footer */
    .footer-block2{
        width: 53%;
    }

    .footer-title{
        font-size: 8px;
    }

    .footer-block-title{
        font-size: 10px;
    }
    
    .footer-content{
        margin: 0px;
    }

    .icon-block > figure > a > img {
        max-width: 20px;
    }

    .under3::after{
        width: 90px;
        left: 32px;
    }

    .under2::after{
        width: 60px;
    }

    .under1::after{
        width: 90px;
    }

    .under3{
        padding-left: 38px;
    }

    .left-side{
        padding: 0;
    }

    .footer-block2::before{
        height: 150px;
    }

    .input-area {
        font-size: 9px;
        width: 90%;
        height: 25px;
        padding-right: 15px; 
        padding-left: 15px;
        box-sizing: border-box;
        margin-left: 15px;
    }
    
    .send-email {
        width: 10px;
        height: 10px;
        font-size: 10px;
        left: 84%;
    }

    .footer-inc{
        font-size: 11px;
    }
}

/* подгонка на телефон  */
@media screen and (max-width: 380px) {
    .search-area{
        width: 270px;
    }
    .search{
        width: 240px;
    }
    /* главная */
    .main-image{
        width: 350px;
    }

    #mens, #womens, #boys, #girls{
        font-size: 20px;
    }

    .more a{
        margin-left: 20px;
        font-size: 18px;
        height: 35px;
    }

    .name{
        font-size: 18px;
    }
    /* ab us */
    .about-content{
        height: 100px;
        max-width: 150px;
    }

    .ab-info{
        font-size: 9px;
    }

    .under3{
        padding-left: 28px;
    }

    .under1::after{
    }

    .under2::after{
        width: 40px;
    }

    .under3::after{
        left: 28px;
    }

    .footer-block2::before{
        height: 140px;
    }

    .footer-title{
        font-size: 7px;
    }

    .footer-block-title{
        font-size: 9px;
    }

    .icon-block > figure > a > img {
        max-width: 15px;
    }
    .left-side{
    width: 35%;
    }
    .input-area {
        border-radius: 22px;
        font-size: 9px;
        width: 90%;
        height: 22px;
        padding-right: 15px; 
        padding-left: 15px;
        box-sizing: border-box;
        margin-left: 20px;
    }

    .send-email {
        width: 7px;
        height: 7px;
        font-size: 9px;
        left: 90%;
    }
}


@media screen and (max-width: 342px) {
    .search-area{
        width: 250px;
    }
    .search{
        width: 220px;
        margin-left: 5px;
    }

    .image-title{
        max-width: 120px;
        margin-left: 40px;
    }
    /* главная */
    .main-image{
        width: 320px;
    }    

    .model{
        width: 300px;
    }    

    .under3::after{
        left: 24px;
    }

    .under2::after{
        width: 40px;
    }

    .footer-block-title{
            font-size: 8px;
        }

}  



@media screen and (max-width: 321px) {
    /* главная */
    .main-image{
        width: 300px;
    }    

    .model{
        width: 300px;
    }    

    #mens, #womens, #boys, #girls{
        font-size: 18px;
    }

    .under1::after{
        width: 82px;
    }

    .under3::after{
        left: 20px;
        width: 82px;
    }

    .under2::after{
        width: 40px;
    }

    .footer-block-title{
        font-size: 7px;
    }
}    

